<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICfdiSoapService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ICfdiSoapService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://v4.cfdis.mx/Soap/CfdiSoapService.asmx"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICfdiSoapService"
          contract="CfdiSoapService.ICfdiSoapService" name="BasicHttpBinding_ICfdiSoapService" />
    </client>
  </system.serviceModel>
</configuration>